body {
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
}

.slider {
  position: relative;
  width: 100%;
  aspect-ratio: 1.6;
 overflow: hidden;
  border-radius: 16px;
}

.slider-content {
  position: absolute;
  height: 400px;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
}

.slider-item {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.slider-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-buttons-item {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.slider-dots {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.slider-dots-item {
  width: 8px;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-item.active {
  background-color: white;
}
